<!-- <ng-container *ngIf="(post$ | async) as post; else loading" #main> -->
<ng-container *ngIf="post; else loading">
    <dx-form [formData]="post">
        <dxi-item dataField="title"></dxi-item>
        <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ height: 150 }"></dxi-item>
        <dxi-item dataField="imageUrl"></dxi-item>
        <dxi-item dataField="author"></dxi-item>
        <dxi-item dataField="timesReadCounter" [disabled]="true"></dxi-item>
        <dxi-item itemType="empty"></dxi-item>
    </dx-form>
    <div class="btnGroup">
        <dx-button text="Update" stylingMode="outlined" (onClick)="updatePost(post)"></dx-button>
        <dx-button text="Cancel" stylingMode="contained" (onClick)="router.navigate(['/posts']);"></dx-button>
    </div>
</ng-container>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>