dx-form {
    padding: 20px;
}

.btnGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    margin: 0;
}


/* dx-form.loading, div.loading {
    display: none;
}

app-loading.loading {
    display: block;
} */