<app-loading *ngIf="!posts; else postsList">
</app-loading>
<ng-template #postsList>
    <br><br>
    <dx-list id="list" [searchEnabled]="true" [searchExpr]="['title', 'description']" [dataSource]="posts"
        [activeStateEnabled]="false" [hoverStateEnabled]="false" itemTemplate="listItem">
        <div *dxTemplate="let item of 'listItem'">
            <b><a [routerLink]="getPath(item.id)">{{item.title}}</a></b>
            <br />
            <p>{{item.description | shorten:150 }}</p>
        </div>
    </dx-list>
</ng-template>